html {
    background: white;
}

header,
footer,
video {
    display: none;
}

body,
main,
section,
article,
aside {
    color: black;
    width: 90%;
    margin: 0 auto;
}

table,
th,
td,
p,
section {
    border-color: black;
}

a, a:visited {
    color: black;
}

img {
    width: 33%;
    height: auto;
    margin: 0 auto;
}

p.tag {
    border-color: black;
}

div.project {
    flex-direction: column-reverse;
}

section#skills {
    flex-wrap: wrap;
}

section>table:first-child {
    margin: 0 auto;
}


main {
    width: 80%;
    margin: 0 auto;
}

main>* {
    width: 100%;
    margin-top: 1em;
}

main>p {
    font-size: medium;
}

section {
    width: fit-content;
}

section#skills {
    flex-wrap: wrap;
}

section#skills>table:first-child {
    margin: 0 0 3em;
    width: 100%;
}

main.projects>section>div.project {
    flex-direction: column;
}

main.projects>section>* {
    text-align: left;
    justify-content: start;
}

main.projects>section>*>* {
    text-align: left;
    justify-content: start;
}

div.project>figure {
    display: none;
}

div {
    margin: 0;
}

div#socials {
    margin: 0 auto;
}

div#socials>a {
    padding-top: 10px;
    padding-right: 5px;
}

div#socials>a>figure>img {
    width: 70px;
    height: auto;
    margin-right: 10px;
    /* TODO */
}

aside {
    justify-content: left !important;
}

main.projects>section:nth-of-type(even)>div>article>ul {
    direction: ltr;
    padding-left: 2em;
}

main.projects>section>div>article>ul>li {
    padding-bottom: 0.5em;
}

