#galeria img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
video {
  max-width: 100%;
  height: auto;
}

#galeria {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../galeria/background2.jpg");
}