#myCarousel {
  max-height: 50vh;
}

.carousel-item img {
  max-height: 50vh;
  object-fit: cover;
}

#profile-pic {
  float: right;
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 20px;
}

#nev {
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

#content {
  clear: both;
  margin-top: 30px;
  text-align: justify;
}